.styledlink {
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #000;

	padding: 0.7rem 1.1rem;

	background: linear-gradient(
			317.7deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(255, 255, 255, 0.4) 105.18%
		),
		#e7ebf0;
	background-blend-mode: soft-light, normal;
	box-shadow: -5px -5px 10px #fafbff, 5px 5px 6px #a6abbd;
	border-radius: 10px;
	transition: all 0.2s ease-out;
}

.styledlink:active {
	box-shadow: inset -2.5px -2.5px 5px #fafbff, inset 2.5px 2.5px 5px #a6abbd;
}
